<div style="background-color:#ffffff ;">
<h1>Buyer</h1>
<div *ngIf="contractDetails.length!=0" class="container">
    <div class="row">
      <label class="col-6 text-right control-label">Owner Address:</label>
      <div class="col-6 text-left">{{owner}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Arbitrator Address:</label>
      <div class="col-6 text-left">{{arbitratorAddress}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Seller Address:</label>
      <div class="col-6 text-left">{{sellerAddress}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Buyer Address:</label>
      <div class="col-6 text-left">{{buyerAddress}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Arbitrator Fees:</label>
      <div class="col-6 text-left">{{web3.fromWei(arbitratorFees,'ether')}} Ether</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Trade Amount:</label>
      <div class="col-6 text-left">{{web3.fromWei(offeredAmount,'ether')}} Ether</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Seller Deposited Amount:</label>
      <div class="col-6 text-left">{{web3.fromWei(sellerAmountDeposit,'ether')}} Ether</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Buyer Security Deposit:</label>
      <div class="col-6 text-left">{{web3.fromWei(buyerSecurityDeposit,'ether')}} Ether</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Is Buyer Agreeing:</label>
      <div class="col-6 text-left">{{isBuyerAgreeing}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Is Seller Agreeing:</label>
      <div class="col-6 text-left">{{isSellerAgreeing}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Is Arbitrator Agreeing For Buyer:</label>
      <div class="col-6 text-left">{{isArbitratorAgreeingForBuyer}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Is Arbitrator Agreeing For Seller:</label>
      <div class="col-6 text-left">{{isArbitratorAgreeingForSeller}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Seller Raised the dispute:</label>
      <div class="col-6 text-left">{{sellerDisputeRaise}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Buyer Raised the dispute:</label>
      <div class="col-6 text-left">{{buyerDisputeRaise}}</div>
    </div>
    <div class="row">
        <label class="col-6 text-right control-label">Raise Buyer Dispute:</label>
        <button id="button" (click)="raiseDisputeForBuyer()">Raise Dispute!</button>
      </div>
    <div class="row">
      <label class="col-6 text-right control-label">Deposit for Buyer:</label>
      <button id="button" (click)="depositForBuyer()">Deposit</button>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Release funds to Buyer:</label>
      <button id="button" (click)="releaseFundsToBuyer()">Release funds to Seller</button>
    </div>
    </div>
    
  <!-- <label class="col-lg-2 control-label">Owner Address:</label><span>{{owner}}</span> -->
    <!-- <input type="text" [(ngModel)]="owner">
    <button id="button" (click)="updateOwner()">Update</button> -->
    <!-- <br> -->

    <!-- <label class="col-lg-2 control-label">Arbitrator Address:</label><span>{{arbitratorAddress}}</span> -->
    <!-- <input type="text" [(ngModel)]="arbitratorAddress">
    <button id="button" (click)="updateArbitrator()">Update</button> -->
    <!-- <br> -->

    <!-- <label class="col-lg-2 control-label">Seller Address:</label><span>{{sellerAddress}}</span> -->
    <!-- <input type="text" [(ngModel)]="sellerAddress">
    <button id="button" (click)="updateSeller()">Update</button> -->
    <!-- <br> -->

    <!-- <label class="col-lg-2 control-label">Buyer Address:</label><span>{{buyerAddress}}</span> -->
    <!-- <input type="text" [(ngModel)]="buyerAddress">
    <button id="button" (click)="updateBuyer()">Update</button> -->
    <!-- <br> -->

    <!-- <label class="col-lg-2 control-label">Arbitrator Fees:</label><span>{{arbitratorFees}}</span> -->
    <!-- <input type="text" [(ngModel)]="arbitratorFees">
    <button id="button" (click)="updateArbitratorFees()">Update</button> -->
    <!-- <br> -->

    <!-- <label class="col-lg-2 control-label">Trade Amount:</label><span>{{offeredAmount}}</span> -->
    <!-- <input type="text" [(ngModel)]="offeredAmount">
    <button id="button" (click)="updateOfferedAmount()">Update</button> -->
    <!-- <br>

  <label class="col-lg-2 control-label">Seller Deposited Amount:</label> {{sellerAmountDeposit}}<br>
  <label class="col-lg-2 control-label">Buyer Security Deposit:</label> {{buyerSecurityDeposit}}<br>
  <label class="col-lg-2 control-label">Is Buyer Agreeing:</label> {{isBuyerAgreeing}}
  <button id="button" (click)="signerForBuyer()">Sign</button><br>
  <label class="col-lg-2 control-label">Is Seller Agreeing:</label> {{isSellerAgreeing}}
  <br>
  <label class="col-lg-2 control-label">Is Arbitrator Agreeing For Buyer:</label> {{isArbitratorAgreeingForBuyer}}
  <br>
  <label class="col-lg-2 control-label">Is Arbitrator Agreeing For Seller:</label> {{isArbitratorAgreeingForSeller}}
  <br>
  <label class="col-lg-2 control-label">Seller Raised the dispute:</label> {{sellerDisputeRaise}}
  <br>
  <label class="col-lg-2 control-label">Buyer Raised the dispute:</label> {{buyerDisputeRaise}}
  <button id="button" (click)="raiseDisputeForBuyer()">Raise Dispute!</button>
  <br>
  <button id="button" (click)="depositForBuyer()">Deposit for Buyer</button><br><br>
  <button id="button" (click)="releaseFundsToBuyer()">Release funds to Buyer</button><br>
</p>
<br>
<br>
<br>
</div> -->