<div style="background-color:#ffff99;">
  <h1>Seller screen</h1>
  <p>
    <label class="col-lg-2 control-label">Contract Address:</label>
    <input type="text" #ethContractAddress>
    <button id="button" (click)="LoadContract(ethContractAddress.value)">Submit</button>
  </p>
  <br>
  <br>
  <p>
    <label class="col-lg-2 control-label">Owner Address:</label>
    <input type="text" [(ngModel)]="owner">
    <br>

    <label class="col-lg-2 control-label">Arbitrator Address:</label>
    <input type="text" [(ngModel)]="arbitratorAddress">
    <br>

    <label class="col-lg-2 control-label">Seller Address:</label>
    <input type="text" [(ngModel)]="sellerAddress">
    <br>

    <label class="col-lg-2 control-label">Buyer Address:</label>
    <input type="text" [(ngModel)]="buyerAddress">
    <br>

    <label class="col-lg-2 control-label">Arbitrator Fees:</label>
    <input type="text" [(ngModel)]="arbitratorFees">
    <br>

    <label class="col-lg-2 control-label">Trade Amount:</label>
    <input type="text" [(ngModel)]="offeredAmount">
    <br>

    <label class="col-lg-2 control-label">Seller Deposited Amount:</label> {{sellerAmountDeposit}}
    <br>

    <label class="col-lg-2 control-label">Buyer Security Deposit:</label> {{buyerSecurityDeposit}}
    <br>

    <label class="col-lg-2 control-label">Is Buyer Agreeing:</label> {{isBuyerAgreeing}}
    <br>

    <label class="col-lg-2 control-label">Is Seller Agreeing:</label> {{isSellerAgreeing}}
    <button id="button" (click)="signerForSeller()">Sign</button>
    <br>

    <label class="col-lg-2 control-label">Is Arbitrator Agreeing For Buyer:</label> {{isArbitratorAgreeingForBuyer}}
    <br>

    <label class="col-lg-2 control-label">Is Arbitrator Agreeing For Seller:</label> {{isArbitratorAgreeingForSeller}}
    <br>

    <button id="button" (click)="depositForSeller()">Deposit for Seller</button>
    <br>
    <br>
  </p>
  <br>
  <br>
  <br>
</div>