<div style="background-color:#ffffff ;">
  <h1>Seller</h1>

  <div *ngIf="contractDetails.length!=0" class="container">
    <div class="row">
      <label class="col-6 text-right control-label">Owner Address:</label>
      <div class="col-6 text-left">{{owner}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Arbitrator Address:</label>
      <div class="col-6 text-left">{{arbitratorAddress}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Seller Address:</label>
      <div class="col-6 text-left">{{sellerAddress}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Buyer Address:</label>
      <div class="col-6 text-left">{{buyerAddress}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Arbitrator Fees:</label>
      <div class="col-6 text-left">{{web3.fromWei(arbitratorFees,'ether')}} Ether</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Trade Amount:</label>
      <div class="col-6 text-left">{{web3.fromWei(offeredAmount,'ether')}} Ether</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Seller Deposited Amount:</label>
      <div class="col-6 text-left">{{web3.fromWei(sellerAmountDeposit,'ether')}} Ether</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Buyer Security Deposit:</label>
      <div class="col-6 text-left">{{web3.fromWei(buyerSecurityDeposit,'ether')}} Ether</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Is Buyer Agreeing:</label>
      <div class="col-6 text-left">{{isBuyerAgreeing}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Is Seller Agreeing:</label>
      <div class="col-6 text-left">{{isSellerAgreeing}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Is Arbitrator Agreeing For Buyer:</label>
      <div class="col-6 text-left">{{isArbitratorAgreeingForBuyer}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Is Arbitrator Agreeing For Seller:</label>
      <div class="col-6 text-left">{{isArbitratorAgreeingForSeller}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Seller Raised the dispute:</label>
      <div class="col-6 text-left">{{sellerDisputeRaise}}</div>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Buyer Raised the dispute:</label>
      <div class="col-6 text-left">{{buyerDisputeRaise}}</div>
    </div>
    <div class="row">
        <label class="col-6 text-right control-label">Raise Seller Dispute:</label>
        <button id="button" (click)="raiseDisputeForSeller()">Raise Dispute!</button> <span *ngIf="requestForDispute">Your request for dispute has been raised!</span>
      </div>
    <div class="row">
      <label class="col-6 text-right control-label">Deposit for Seller:</label>
      <button id="button" (click)="depositForSeller()">Deposit</button>
    </div>
    <div class="row">
      <label class="col-6 text-right control-label">Release funds to Seller:</label>
      <button id="button" (click)="releaseFundsToSeller()">Release funds to Seller</button>
    </div>
  </div>
<br>
    <!-- <input type="text" [(ngModel)]="owner">
    <button id="button" (click)="updateOwner()">Update</button> -->



    <!-- <input type="text" [(ngModel)]="arbitratorAddress">
    <button id="button" (click)="updateArbitrator()">Update</button> -->

    <!-- <label class="col-lg-2 control-label">Seller Address:</label>
    <span>{{sellerAddress}}</span>
    <!-- <input type="text" [(ngModel)]="sellerAddress"> -->
    <!-- <button id="button" (click)="updateSeller()">Update</button> --> 

    <!-- <label class="col-lg-2 control-label">Buyer Address:</label>
    <span>{{buyerAddress}}</span> -->
    <!-- <input type="text" [(ngModel)]="buyerAddress">
    <button id="button" (click)="updateBuyer()">Update</button> -->

    <!-- <label class="col-lg-2 control-label">Arbitrator Fees:</label>
    <span>{{arbitratorFees}}</span> -->
    <!-- <input type="text" [(ngModel)]="arbitratorFees">
    <button id="button" (click)="updateArbitratorFees()">Update</button> -->

    <!-- <label class="col-lg-2 control-label">Trade Amount:</label>
    <span>{{offeredAmount}}</span> -->
    <!-- <input type="text" [(ngModel)]="offeredAmount">
    <button id="button" (click)="updateOfferedAmount()">Update</button> -->

    <!-- <label class="col-lg-2 control-label">Seller Deposited Amount:</label> {{sellerAmountDeposit}}
    <br>

    <label class="col-lg-2 control-label">Buyer Security Deposit:</label> {{buyerSecurityDeposit}}
    <br>

    <label class="col-lg-2 control-label">Is Buyer Agreeing:</label> {{isBuyerAgreeing}}
    <br>

    <label class="col-lg-2 control-label">Is Seller Agreeing:</label> {{isSellerAgreeing}}
    <button id="button" (click)="signerForSeller()">Sign</button>
    <br>

    <label class="col-lg-2 control-label">Is Arbitrator Agreeing For Buyer:</label> {{isArbitratorAgreeingForBuyer}}
    <br>

    <label class="col-lg-2 control-label">Is Arbitrator Agreeing For Seller:</label> {{isArbitratorAgreeingForSeller}}
    <br>

    <label class="col-lg-2 control-label">Seller Raised the dispute:</label> {{sellerDisputeRaise}}
    <button id="button" (click)="raiseDisputeForSeller()">Raise Dispute!</button>
    <br>
    <label class="col-lg-2 control-label">Buyer Raised the dispute:</label> {{buyerDisputeRaise}}
    <br> -->

    <!-- <button id="button" (click)="depositForSeller()">Deposit for Seller</button>
    <br>
    <br>
    <button id="button" (click)="releaseFundsToSeller()">Release funds to Seller</button>
    <br>
  </p> -->
</div>